.place {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px #DDDDDD solid;
  margin-bottom: 20px;
}

.place .amenities {
  margin-top: 40px;
}

.place .amenities h2 {
  font-size: 16px;
}

.place .amenities ul {
  list-style: none;
}

.place .amenities li {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.place .amenities li:before {
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-image: url(../images/icon_pet.png);
  background-size: contain;
}

.place .reviews {
  margin-top: 40px;
}

.place .reviews h2 {
  font-size: 16px;
}

.place .reviews ul {
  list-style: none;
}

.place .reviews li {
  margin: 10px 0;
}

.place .reviews h3 {
  font-size: 14px;
}

.place .reviews p {
  font-size: 12px;
}
