.places {
  display: flex;
  flex-wrap: wrap;
}

.places article {
  flex: 1 0 30%;
  margin: 10px;
  padding: 20px;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
}

.places article .amenities,
.places article .reviews {
  margin-top: 40px;
}

.places article .amenities ul,
.places article .reviews ul {
  list-style: none;
}

.places article .amenities h2,
.places article .reviews h2 {
  margin-top: 0;
}

.places article .amenities li,
.places article .reviews li {
  margin-bottom: 10px;
}

.places article .amenities i,
.places article .reviews i {
  margin-right: 10px;
}
