header {
  height: 70px;
  background-color: #FF0000;
  line-height: 70px;
}

.logo img {
  height: 30px;
}


styles/3-footer.css

footer {
  height: 60px;
  background-color: #00FF00;
  line-height: 60px;
}
